.rules-container {
  margin-top: 50px;
  width: 50vw;
  border: 1px;
  border-style: dashed;
  border-width: 2px;
  padding: 20px;
  border-radius: 15px;
}

.rules-content {
  text-transform: capitalize;
}
