@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,500;1,100;1,200&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  --clr-primary: rgb(252, 252, 252);
  --clr-secondary: rgb(49, 72, 90);
  --clr-tertiary: rgb(186, 202, 213);
}

body {
  font-family: Raleway, sans-serif;
  font-size: 1.5em;
  text-align: center;
  background-color: var(--clr-primary);
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* header */
.header {
  margin-top: 30px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  margin-left: 100px;
  color: var(--clr-secondary);
}

.buttons {
  display: flex;
  align-items: center;
  margin-right: 100px;
}
/* header > buttons */
.btn {
  font-weight: bold;
  border: none;
  border-radius: 15px;
  padding: 8px 15px;
}
.ng-button {
  background-color: rgb(225, 231, 237);
  color: var(--clr-secondary);
  transition: linear 0.3s;
}
.ng-button:hover {
  cursor: pointer;
  color: rgb(225, 231, 237);
  background-color: var(--clr-secondary);
}

.restart-button {
  margin-right: 10px;
  background-color: rgb(248, 161, 23);
  color: var(--clr-primary);
  transition: linear 0.3s;
}
.restart-button:hover {
  cursor: not-allowed;
  color: rgb(248, 161, 23);
  background-color: rgba(248, 232, 205, 0.541);
}

/* game content */
.grid-container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.front {
  font-size: 40px;
  padding: 15px;
  width: 50px;
  height: 50px;
  background-color: orange;
  color: var(--clr-primary);
  border-radius: 50%;
}
.back {
  font-size: 40px;
  padding: 15px;
  width: 50px;
  height: 50px;
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
  border-radius: 50%;
}
.back:hover {
  cursor: pointer;
}

/* comparing animation */
.matched {
  background-color: var(--clr-tertiary);
}

.front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}
.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.back {
  transition: all ease-in 0.2s;
  transition-delay: 0s;
}
.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0;
}

/* turn Counter */
.turn-counter {
  margin-top: 30px;
}
